@import './variables.scss';

@keyframes neon-on-ending {
	0% {
		color: $neon-off;
		text-shadow: none;
	}
}
@keyframes neon-on {
	0%,99% {
		color: $neon-off;
		text-shadow: none;
	}
}
$neon-on-animation: neon-on 0.2s cubic-bezier(1, 0, 1, 0),
	neon-on .6s cubic-bezier(1, 0, 1, 0) 0.3s, neon-on 0.1s 1s,
	neon-on-ending 1.5s 1.2s;

