@font-face {
	font-family: 'neon';
	src: url('./assets/fonts/neon-future.regular.ttf');
}
@font-face {
	font-family: 'Libre Franklin';
	src: url('./assets/fonts/LibreFranklin-VariableFont_wght.ttf');
}
@import './assets/fonts/font-awesome-4.7.0/css/font-awesome.css';
@import './assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}
:root{

	--cursorX:-100vw;
	--cursorY:-100vh;
}
html {
	font-size: 62.5%;
	font-family: 'Libre Franklin';
	scroll-behavior: smooth;
}
@media only screen and (max-width:480px) {
	
	html{

		scroll-behavior: auto;
	}
}
