$neon-light-1: #01b1d8;
$neon-light-2: #ede136;
$neon-off: #323232;
$image-darker: rgba(
	$color: #000000,
	$alpha: 0.7,
);
$font-color-1: whitesmoke;

$background-color-1: #070707;
$background-color-2: #0e0e0e;

$cube-background-1: rgb(5, 5, 5);
$cube-background-2: rgb(10, 10, 10);
$cube-background-3: rgb(15, 15, 15);

